<div class="relative">
  <div class="backdrop-blur-3xl border-blue-200/50 flex justify-between items-center py-4 px-3 my-3 left-10 right-10 fixed bg-blue-50/20 rounded-lg shadow-2xl shadow-blue-50">
    <div class="">
      <h1 class="font-bold text-2xl text-blue-400">Dashboard</h1>
    </div>
    <div class="">
      <button class="bg-blue-300 text-white font-bold py-2 px-4 rounded-full" (click)="openCreateModal()">
        Criar Tarefa
      </button>
    </div>
  </div>
  @if(isCreateModalOpen()) {
    <div class="absolute backdrop-blur-3xl pt-10 z-100 w-full flex justify-center items-center">
      <app-create-task></app-create-task>
    </div>
  }
</div>